<html>

<head>
    <title>Iframe test payment page</title>

</head>


<body>
    <script src="https://app.coinpays.io/assets/js/iframeResizer.min.js"></script>
    <iframe src="https://app.coinpays.io/payment/<%= iframetoken %>" id="coinpaysiframe" frameborder="0" scrolling="no"
        style="width: 100%;"></iframe>
    <script>iFrameResize({}, '#coinpaysiframe');</script>
</body>

</html>